{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block body %}
    <h1>Channel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>ShortDescription</th>
                <th>Description</th>
                <th>Type</th>
                <th>Enabled</th>
                <th>Metadata</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.id }}</td>
                <td>{{ channel.code }}</td>
                <td>{{ channel.name }}</td>
                <td>{{ channel.shortDescription }}</td>
                <td>{{ channel.description }}</td>
                <td>{{ channel.type }}</td>
                <td>{{ channel.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ channel.metadata ? channel.metadata|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_api_admin_channel_channel_show', {'id': channel.id}) }}">show</a>
                    <a href="{{ path('app_api_admin_channel_channel_edit', {'id': channel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_api_admin_channel_channel_new') }}">Create new</a>
{% endblock %}
