{% extends 'base.html.twig' %}

{% block title %}AdditionalService{% endblock %}

{% block body %}
    <h1>AdditionalService</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ additional_service.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ additional_service.code }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ additional_service.title }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ additional_service.enabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_api_admin_order_additional_service_index') }}">back to list</a>

    <a href="{{ path('app_api_admin_order_additional_service_edit', {'id': additional_service.id}) }}">edit</a>

    {{ include('api/admin/order/additional_service/_delete_form.html.twig') }}
{% endblock %}
